@font-face {
	font-family: 'fontello';
	src: url('./font/fontello.eot?8216058');
	src: url('./font/fontello.eot?8216058#iefix') format('embedded-opentype'),
		 url('./font/fontello.woff?8216058') format('woff'),
		 url('./font/fontello.ttf?8216058') format('truetype'),
		 url('./font/fontello.svg?8216058#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body {
	margin: 0;
	font-family: 'Assistant', sans-serif;
	font-size: 18px;
	color: #5a5959;
	background-color: #F5F5F5;
}

* {
	box-sizing: border-box;
}
*::selection {
	background: #97e7ff;
	color: #fff;
}
*::-moz-selection {
	background: #97e7ff;
	color: #fff;
}

img, form {
	width: 100%;
}

h1 {
	margin: 0.67em;
	font-weight: 400;
	font-size: 42px;
}
h2 {
	font-size: 24px;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #5a5959;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.url a, .text-wrap a {
	border-bottom: 1px solid #5a5959;
}
a:hover, .a-hovering {
	color: #00AFF0;
	background-color: aliceblue;
}
.url a:hover, .text-wrap a:hover {
	border-bottom: 1px solid #00AFF0;
}
.icon-link {
	border-bottom: 1px solid #5a5959;
	display: inline-block;
}
.icon-link:hover {
	border-bottom: 1px solid #00AFF0;
}

/*
	Head
*/

.head {
	min-height: 61.8vh;
	background-color: #fff;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
@media (max-width: 420px) {
	.head {
		min-height: 76.39vh;
	}
}


.nav {
	width: 100%;
	padding-top: 2vh;
	padding-bottom: 20px;
	text-align: center;
	box-sizing: initial;
	position: absolute;
	top: 0;
	background-color: lavender;
}
.nav a {
	display: inline-block;
	height: 20px;
	margin: 0 15px;
	vertical-align: middle;
	font-size: 18px;
	text-transform: uppercase;
}
@media (max-width: 550px) {
	.nav a {
	margin: 0 9px;
	}
}
@media (max-width: 415px) {
	.nav a {
	font-size: 12px;
	}
}
@media (max-width: 340px) {
	.nav a {
	margin: 0 5px;
	}
}

.title-section {
	padding-top: 50px;
	width: 100%;
	text-align: center;
}

/*
	Body
*/

.body {
	background-color: #F5F5F5;
}

.section {
	padding: 2vh 19.1%;
	text-align: center;
}
@media (max-width: 800px) {
	.section {
		padding: 2vh 11.805%;
	}
}
@media (max-width: 420px) {
	.section {
		padding: 2vh 0;
	}
}

.home .text-wrap, .about .text-wrap {
	width: 50%;
	float: left;
}

.home .image-wrap, .about .image-wrap {
	width: 50%;
	overflow: hidden;
	float: left;
	padding: 18px;
	text-align: center;
}

.home .card {
	background-color: transparent;
	box-shadow: none;
}

.home .icon {
	font-size: 80px;
}

.home img {
	border-radius: 4px;
}
.home .icon-link span {
	padding: 18px 0;
	font-size: 18px;
}
.foot .icon-link p {
	margin: 10px;
}
.foot .icon-link i {
	font-size: 24px;
}
@media (max-width: 400px) {
	.container {
		text-align: center;
	}
	.foot .icon-link {
		display: block;
		max-width: 100%;
	}
}

.card {
	margin: 4vh 0;
	background-color: #fff;
	/* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); */
	overflow: hidden;
	border-radius: 4px;
	text-align: left;
}
a.card {
	display: inline-block;
	width: 100%;

	-webkit-transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	-ms-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-ms-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}
a.card:hover {
	color: #fff;
	background-color: cadetblue;
}
.card img {
	margin-right: 18px;
	float: left;
}
.card h3 {
	margin: 0 0 14px;
}

.left {
	display: flex;
	float: left;
	align-items: center;
}
.right {
	padding: 18px;
	float: left;
	text-align: left;
}
@media (max-width: 1200px) {
	.left, .right {
		width: 100% !important;
	}
}

.image-wrap {
	width: 23.62%;
	min-width: 150px;
}

.text-wrap {
	padding: 18px;
}
.text-only{
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	width: 750px;
}
.text {
	margin: 0;
	line-height: 1.5;
}
.text:not(:last-child) {
	padding-bottom: 9px;
}

.portfolio .left {
	width: 61.8%;
}
.portfolio .right {
	width: 38.2%;
}

.experience .left {
	width: 23.61%;
	padding: 18px;
}
.experience .right {
	width: 76.39%;
}
.experience li {
	text-align: left;
}

.contact .card {
	background-color: transparent;
	box-shadow: none;
}
.contact .left {
	width: 61.8%;
	padding: 18px;
	text-align: left;
}
.contact .right {
	width: 38.2%;
	padding: 18px;
}

.image {
	display: block;
	margin: 0 auto;
}
.image.partial {
	margin-right: 18px;
	float: left;
}
.experience .image.partial {
	padding: 39px 21px 21px;
}

@media (max-width: 700px) {
	.image-wrap img {
		padding: 18px;
		margin: 0 !important;
	}
}
@media (max-width: 750px) {
	.experience .image.partial {
		padding: 9px;
	}
}

.container-container {
	width: 100%;
	text-align: center;
}

#about a, #submitted a, #linkedIn a {
	border-bottom: 1px solid #5a5959;
}

#about a:hover, #about .a-hovering, #submitted a:hover, #linkedIn a:hover {
	border-bottom: 0;
}

.image-container {
	position: relative;
	width: 60%;
	float: left;
}
.website-image {
	position: relative;
}
.website-image img {
	display: block;
	width: 100%;
}
.website-info {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(75, 75, 75, 0.5);
	text-align: center;
	-webkit-transition: visibility 0.15s, opacity 0.15s ease-out;
	-moz-transition: visibility 0.15s, opacity 0.15s ease-out;
	-ms-transition: visibility 0.15s, opacity 0.15s ease-out;
	-o-transition: visibility 0.15s, opacity 0.15s ease-out;
	transition: visibility 0.15s, opacity 0.15s ease-out;
}
.website-info:before {
	display: inline-block;
	vertical-align: middle;
	margin-right: -0.25em;
	height: 100%;
	content: '';
}
.centered {
	display: inline-block;
	vertical-align: middle;
	width: 61.8%;
}
.website-link {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 6px 0;
	padding: 12px;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	color: #5a5959;
	font-size: 16px;
	text-align: center;
}
.website-link > .icon {
	margin-right: 13px;
	font-size: 19px;
}
.website-link > .icon-export {
	margin-right: 8px;
}
.image-container:hover .website-info, .image-container.hovering .website-info {
	visibility: visible;
	opacity: 1;
}

.container {
	display: inline-block;
	text-align: left;
}

.contact-link {
	display: inline-block;
}

.input {
	width: 100%;
	padding: 10px;
	margin: 5px 0 10px;
	font-size: 18px;
	outline: 0;
	border: 1px #bbb solid;
	border-radius: 4px;
	background-color: #fff;
	color: #5a5959;
	font-family: 'Assistant', sans-serif;
}

*::-webkit-input-placeholder {
	color: #bbb;
}

*:-moz-placeholder {
	color: #bbb;
}

*::-moz-placeholder {
	color: #bbb;
}

*:-ms-input-placeholder {
	color: #bbb;
}

.button {
	margin-bottom: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	-webkit-appearance: none;
	-webkit-transition: box-shadow 0.1s ease;
	-moz-transition: box-shadow 0.1s ease;
	-ms-transition: box-shadow 0.1s ease;
	-o-transition: box-shadow 0.1s ease;
	transition: box-shadow 0.1s ease;
}

.button:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.09);
}

.button:active {
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 7px;
}

#send {
	margin-top: 0;
}

#send:active {
	margin-top: 2px;
}

#no-name-no-email, #no-name, #no-email, #bad-email {
	display: none;
}

.yesno {
	display: none;
	width: 48%;
}

#send-no {
	float: left;
}

#send-yes {
	float: right;
}

/*
	Foot
*/

.foot {
	min-height: 30vh;
	background-color: #333;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
.foot a {
	margin: 0 15px;
}

.links {
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: gray;
}
.links .icon {
	font-size: 36px;
}
.links p {
	text-align: center;
}

.icon {
	display: inline-block;
	width: 1em;
	margin-right: .2em;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	font-size: 27px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#submitted {
	display: none;
	margin-top: -15px;
	padding: 0 4%;
}

#submitted p {
	padding: 0;
	font-size: 22px;
}

.big {
	font-size: 36px;
}

.green {
	color: #00f000;
}

.links a {
	display: inline-block;
	padding: 0 5px;
	color: #ccc;
}

.links a:hover, .links .a-hovering {
	color: #fff;
}




/* Blog */

body {
	font-size: 18px;
}
body.blog {
	background-color: #fff;
}

#breadcrumb {
	max-width: 750px;
	margin: 0 auto;
	margin-bottom: 60px;
	font-size: 16px;
	text-transform: uppercase;
}



footer {
	min-height: 40%;
}

.blog .image-wrap {
	width: 32.8%;
}
.blog .text-wrap {
	padding: 0 18px;
}

#body {
	padding: 15px 0 120px;
}
#blog-post {
	max-width: 750px;
	padding: 75px;
	margin: 5% 0 15%;
	margin: 0 auto;
	border-radius: 4px;
}
@media (max-width: 750px) {
	#blog-post {
		padding: 50px;
	}
}
.paragraph {
	margin: 60px 0;
}
.article-body p {
	max-width: 650px;
	margin: 20px 0;
	line-height: 1.58;
	word-wrap: break-word;
}
.article-body ul {
	margin: 5px 0;
}
.article-body li {
	list-style-type: circle;
}
.bold-text, p.bold-text {
	margin: 0 0 9px;
	font-weight: 600;
	color: #444;
}
.small-bold-text, p.small-bold-text {
	margin: 0 0 9px;
	font-weight: 600;
	color: #555;
}
.article-body a {
	border-bottom: 1px solid #5a5959;
}
.article-body a:hover {
	border-bottom: 1px solid #00AFF0;
}
.article-body img {
	max-width: 100%;
	margin: 20px 0;
}
.article-body .image-wrap {
	display: block;
	text-align: center;
}
.article-body img.small {
	width: 40%;
}
.caption, p.caption {
	margin: 0;
	font-size: 16px;
	font-style: italic;
}
.quote {
	padding-left: 20px;
	border-left: 2px solid #ddd;
	font-size: 14px;
	color: #555;
}

.article-heading {
	max-width: 650px;
	text-align: center;
}
@media (max-width: 430px) {
	.article-heading {
		margin-top: 50px;
	}
}
.article-title {
	margin: 30px 0;
}

.article-info {
	margin: 0;
	font-size: 14px;
	color: #7a7a7a;
}

.blog .image {
	width: 100%;
	margin: 60px 0 30px;
}
li {
	padding: 5px 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}
@media (max-width: 600px) {
	table {
		display: block;
		overflow-x: scroll;
		overflow-y: hidden;
	}
}
td {
	padding: 4px;
	border: 1px solid #ccc;
}
.data-right, .quantity, .pricePaid, .priceNow, .totalGainD, .totalGainP {
	text-align: right;
}

@media (max-width: 700px) {
	.card img {
		max-width: 66%;
		display: block;
		margin: 0 auto;
		float: none;
	}
	.card h3 {
		margin: 14px 0;
	}
}
@media (max-width: 600px) {
	.card img {
		max-width: 100%;
	}
}
@media (max-width: 430px) {
	#body {
		padding: 0;
	}
	#breadcrumb {
		margin: 0;
		padding: 4%;
		font-size: 14px;
	}
	#title, .article-heading {
		text-align: left;
	}
	#title h1 {
		padding: 8% 4%;
	}
	.card {
		width: 100%;
	}
	#blog-post {
		width: 100%;
		padding: 4%;
	}
	.article-title{
		margin: 0 0 4%;
	}
	.image {
		margin: 12% 0 0;
	}
	.article-body p {
		margin: 12% 0;
	}
	.article-body p.caption {
		margin: 0;
	}
	.article-body img.small {
		width: 100%;
	}
}

.gifisgif {
	display: none;
}